.res-label {
    font-size: 2rem;
    color: var(--color-blue);
}

.res-desc {
    padding: 2rem;
    border-radius: 10px;
    font-size: 2rem;
    color: #fff;
    background-color: var(--color-black);
    span.span-red {
        color: var(--color-red);
    }
    span.span-yellow {
        color: var(--color-yellow);
    }
    span.span-green {
        color: var(--color-green);
    }
}

.btn-cont button {
    font-size: 0.7em;
    min-width: 12rem;
    border-radius: 10px;
    background-color: var(--color-bg);
    padding: 1rem;

    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.tabs-list {
    background-color: var(--color-black);
    font-size: 1.6rem;
    span {
        color: var(--color-light-gray);
        padding: 1rem 3rem;
    }
    .tab-selected {
        background-color: var(--color-bg);
        span {
            color: #fff;
        }
        .tabs-list {
            background-color: var(--color-bg);
        }
    }
}