@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #1e1e1e;
  --color-black: #101010;
  --color-gray: #595959;
  --color-blue: #359eff;
  --color-dark-gray: #252525;
  --color-orange: #ff6b00;
  --color-red: #ec1010;
  --color-light-gray: #858585;
  --color-purple: #e335ff;
  --color-yellow: #FFD600;
  --color-green: #C4FFA8;
}

html,
body {
  background-color: var(--color-bg);
  padding: 0;
  margin: 0;
  font-family: Futura, Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

@font-face {
  font-family: Futura;
  src: url("../public/unicode.futurab.ttf");
}
