.noti {
  font-family: Montserrat;
  font-size: 2.4rem;
  color: white;
  margin-left: 3rem;
}

.button {
  button {
    background-color: var(--color-blue) !important;
    color: white !important;
  }
}

.table{
    margin-top: 2rem;
}