.container {
  background-color: var(--color-blue);
  padding: 2rem 2rem;
}

.name {
  font-family: Futura;
  font-size: 3.6rem;
  font-weight: bold;
  color: white;
}

.icon svg {
  width: 4rem;
  height: 4rem;

  path {
    fill: white;
  }
}
