.container {
  background-color: var(--color-blue);
  padding: 2rem 2rem;
}

.name {
  font-size: 3.6rem;
  font-weight: bold;
  color: white;
}

.icon svg {
  width: 8rem;
  height: 8rem;
  path{
    fill: midnightblue;
  }
}
