.container {
  border-bottom: 3px solid var(--color-blue);
  height: 9rem;
  width: 100%;
  color: white;
  font-size: 3.2rem;
  padding: 0 3.5rem;
  display: table;
  span {
    display: table-cell;
    vertical-align: middle;
  }
}

.main-logo {
  width: 100%;
  text-align: center;
  margin-top: -3rem;
  svg {
    display: inline;
  }
}
