.container {
  background: var(--color-black);
  width: fit-content;
  height: fit-content;
  padding-left: 1.6rem;
  padding-top: 2.4rem;
  margin-top: 2.3rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

.patient__phonenum {
  color: white;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 500;
}

.patient__name {
  color: var(--color-blue);
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 500;
}

.date {
  color: var(--color-purple);
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.8rem;
  padding-left: 19rem;
  text-align: end;
}
