.container {
  border: 1px solid var(--color-light-gray);
  border-radius: 10px;
  padding: 3.4rem 4.1rem;
  width: fit-content;
  height: fit-content;
  margin-top: 11.2rem;
}

.icon {
}

.title {
  color: var(--color-light-gray);
  font-size: 1.6rem;
  font-family: Montserrat;
  font-weight: 400;
}
